Cython
matplotlib>=3.2.2
numpy>=1.18.5
omegaconf>=2.0.1
onnx
onnx-simplifier
onnxruntime
opencv-python
opencv-contrib-python
opencv-python-headless
pyaml
pycocotools
pytorch-lightning>=1.9.0,<2.0.0
tabulate
tensorboard
termcolor
# torch>=1.10,<2.0
torchmetrics
# torchvision
tqdm